aoc2020/03-toboggan/toboggan
cs50/pset1/cash/cash
cs50/pset1/cash/cash-better
cs50/pset1/credit/credit
cs50/pset1/hello/hello
cs50/pset1/mario/mario
cs50/pset1/mario-recursion
cs50/pset1/modulo
cs50/pset2/caesar/caesar
cs50/pset2/readability/readability
cs50/pset2/substitution/substitution
cs50/pset3/plurality/plurality
cs50/pset3/runoff/runoff
cs50/pset3/tideman/tideman
cs50/pset4/filter/filter
cs50/pset4/filter/images/
cs50/pset4/recover/recover
cs50/pset4/swap
cs50/pset4/sample4/
cs50/pset5/speller/speller
cs50/pset5/speller/*.txt
cs50/pset5/speller/dictionaries/
cs50/pset5/speller/keys/
cs50/pset5/speller/texts/


